html{
    background-color: #c9acac;
}
body{
    padding-top: 100px;
    padding-left: 40%;
    font-family: 'Raleway', sans-serif;
}
p{
    margin:0;
}
div.card_populaire{
    height: 144px;
    width: 340px;
    background-color: #FFFFFF;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
div.card_populaire img{
    object-fit: cover;
    border-radius: 20px 0px 0px 20px;
    border: 5px solid #FFFFFF;
    box-sizing: border-box;
    height: 100%;
    max-width: 135px;
}
div.pop_content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 16px 22px 12px 15px
}
div.pop_info{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
div.pop_content h3{
    margin: 0px 0px 7px 0px; 
    font-weight: 700;
    font-size: 16px;
}
div.price_populaire{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
div.price_populaire p{
    font-weight: 400;
    font-size: 14px;
}
div.card_populaire p.euro{
    font-weight: 600;
    font-size: 14px;
}
.rating{
    display: flex;
}
.rating i{
    margin-right: 2px;
    color: #0065FC;
}
.rating i.empty_star{
    color: #F2F2F2;
}