html{
    background-color: #c9acac;
}
body{
    padding-top: 100px;
    padding-left: 40%;
    font-family: 'Raleway', sans-serif;
}
h3{
    margin: 0px 0px 0px 0px;
    font-weight: 700;
    font-size: 16px;
}

div.card_activites{
    height: 445px;
    width: 302px;
    background-color: #FFFFFF;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}
div.card_activites img{
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
    box-sizing: border-box;
    height: 390px;
    width: 100%;
}

div.card_activites h3{
    margin: auto 34px auto 19px;
}
