
body {
    width: 1400px;
    margin-right: auto;
    margin-left: auto;
    background-color: #ffffff;
    font-family: 'Raleway', sans-serif;
    color: #000000;
    font-size: 16px;
}

.logo{
    width: 61.09px;
    height: 19px;
    margin-top: 44px;
    margin-left: 55px;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.menu_nav{
    
    width: 324px;
    height: 67px;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    list-style: none;
    color: #ffffff;
    background-color: #000000;
}
.elmt_nav{
    margin: 0;
    padding: 0;
}